%h1 New person

- form_for(@person) do |f|
  = f.error_messages

  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :active
    %br
    = f.check_box :active
  %p
    = f.submit 'Create'

= link_to 'Back', people_path
