<% content_for :head do %>
  <script type="text/javascript">
    S.index(<%= @tasks.to_json %>, <%= @empty.to_json %>);
  </script>
<% end %>

<div id="status" style="display: none;" class="ui-state-highlight ui-corner-bottom"></div>

<div id="date"></div>
<%= link_to 'Home', root_path %>
<%= link_to 'People', people_path %>

<li id="template">
  <input type="checkbox" />
  <label></label><span class="links ui-state-default">
    <a class="edit" href="#"></a><a class="destroy" href="#"></a>
  </span>
</li>

<table class="tasks">
  <% @people.each do |p| %>
    <tr><td colspan="3"><h1><%= p.name %></h1></td></tr>
    <tr id="<%= p.id %>">
      <td>
        <h3>Week</h3>
        <ul class="week"></ul>
        <hr/>
        <% form_for :task, :url => person_tasks_path(p, :format => 'json'), :html => { :class => 'new' } do |f| %>
          <%= f.hidden_field :kind, :value => 'week' %>
          <%= f.hidden_field :day, :value => @date.beginning_of_week %>
          <%= f.text_field :body %>
        <% end %>
      </td>
      <td>
        <h3>Yesterday</h3>
        <ul class="yesterday"></ul>
        <hr/>
        <% form_for :task, :url => person_tasks_path(p, :format => 'json'), :html => { :class => 'new' } do |f| %>
          <%= f.hidden_field :kind, :value => 'yesterday' %>
          <%= f.hidden_field :day, :value => @date %>
          <%= f.text_field :body %>
        <% end %>
      </td>
      <td>
        <h3>Today</h3>
        <ul class="today"></ul>
        <hr/>
        <% form_for :task, :url => person_tasks_path(p, :format => 'json'), :html => { :class => 'new' } do |f| %>
          <%= f.hidden_field :kind, :value => 'today' %>
          <%= f.hidden_field :day, :value => @date %>
          <%= f.text_field :body %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
