<p>
  <b>Person:</b>
  <%=h @task.person_id %>
</p>

<p>
  <b>Kind:</b>
  <%=h @task.kind %>
</p>

<p>
  <b>Body:</b>
  <%=h @task.body %>
</p>

<p>
  <b>Done:</b>
  <%=h @task.done %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
