<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Scrummer</title>
  <%= stylesheet_link_tag '/javascripts/jquery-ui/css/smoothness/jquery-ui-1.7.2.custom.css', :media => :all %>
  <%= stylesheet_link_tag 'application', :media => :all %>
  <%# javascript_include_tag 'jquery-ui/js/jquery-1.3.2.min', 'jquery-ui/js/jquery-ui-1.7.2.custom.min', 'application', :cache => true %>
  <%= javascript_include_tag 'jquery-ui/development-bundle/jquery-1.3.2', 'jquery-ui/development-bundle/ui/jquery-ui-1.7.2.custom', 'application', :cache => true %>
  <%= yield :head %>
</head>
<body>
  <div id="page" class="<%= params[:controller] %> <%= params[:controller] %>-<%= params[:action] %>">
    <%= yield %>
  </div>
</body>
</html>
