!!! 5
%html
  %head
    %title Scrummer
    %link{ :rel => 'icon', :type => 'image/png', :href => '/images/Stickies.png' }
    = stylesheet_link_tag '/javascripts/jquery-ui/css/humanity/jquery-ui-1.8.custom.css', :media => :all
    = stylesheet_link_tag 'application', :media => :all
    - if Rails.env.production?
      = javascript_include_tag 'http://code.jquery.com/jquery.min.js', 'jquery-ui/js/jquery-ui-1.8.custom.min', 'showdown/compressed/showdown', 'application', :cache => true
    - else
      = javascript_include_tag 'jquery-ui/development-bundle/jquery-1.4.2', 'jquery-ui/js/jquery-ui-1.8.custom.min', 'showdown/src/showdown', 'application'
    = yield :head
  %body
    #page.ui-corner-all{ :class => "#{params[:controller]} #{params[:controller]}-#{params[:action]}" }
      #nav
        = link_to 'Home', root_path
        = link_to 'People', people_path
      = yield
